@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto+Condensed:wght@300&display=swap');

* {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.App {
  text-align: center;
  background-image: url(https://images.pexels.com/photos/299348/pexels-photo-299348.jpeg?cs=srgb&dl=pexels-terje-sollie-299348.jpg&fm=jpg);
  background-repeat: no-repeat;
  width: 100% !important;
  height: 800px;
  background-position: center;
  background-size: cover;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.na {
  width: 700px;
  list-style: none;
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.na a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.ap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 100px;
  background:rgba(0,0,0,0.3);
}
.App div .num {
color: white; 
}
.Res-text {
  font-size: 110px;
  color: white;
  font-family: 'Dancing Script', cursive;
}
.Res-text h3 {
  font-family: 'Dancing Script', cursive;
  font-weight: normal;
}
.our {
  display: flex;
  margin-top: 70px;
  margin-bottom: 70px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.our h1 {
  
  text-transform: uppercase;
}
.zuraas {
  height: 3px;
  background: red;
  width: 70px;
}
.hool-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {

  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.bo {
  margin: 2px;
  width: 20%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.bo img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}
.bo p {
  font-size: 16px;
}
.bo h3 {
  font-size: 23px;
}

